/* --- Écran d'intro --- */
#intro-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg,#0066ff,#4facfe);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 9999;
    transition: opacity 0.8s ease, visibility 0.8s ease;
}

#intro-screen h1 {
    font-size: 4rem;
    margin: 0 0 10px 0;
}

#intro-screen h2 {
    font-size: 2rem;
    font-weight: 300;
    margin: 0 0 10px 0;
}

#intro-screen p {
    font-size: 1.5rem;
    margin: 0;
}

/* Quand on cache l'écran */
#intro-screen.hidden {
    opacity: 0;
    visibility: hidden;
}

#scroll-message {
    margin-top: 40px;
    font-size: 1.2rem;
    animation: bounce 1.5s infinite;
    opacity: 0.8;
}

.hero-buttons button{
    
    background: #0066ff;
    color: white;
    padding: 0.8rem;
    border: none;
    border-radius: 10px;
    margin-top: 1.2rem;
    margin-right: 0.4rem;
    cursor: pointer;
    font-size: 1rem;
    transition: 0.3s;
}

.hero-buttons button a{
    text-decoration: none;
    color:aliceblue;
}


/* Animation pour attirer l'œil */
@keyframes bounce {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(15px); }
}